<!DOCTYPE html>
<html>
<head>
    <title>users</title>
    <style>
        *{
            padding:0;
            margin:0;
            box-sizing: border-box;
        }
        .bg {
            width: 80px;
            height: 80px;
            background-image: url("<%=image %>");
            background-position: <%=-positionX %>px <%=-positionY %>px;
            background-size: <%=width %>px <%=height %>px;
        }
    </style>
</head>
<body>
    <div class="bg"></div>
</body>
</html>